<!-- <header class="site_header">
    <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-auto full-width col-md-3">
             <div class="site_logo">
                <a routerLink="/">
                  
                   logo
                </a>
             </div>
          </div>
          <div class="col-md-9">
             <div class="row">
                
                <div class="col-lg-12">
                   <div class="site_header_divider"></div>
                </div>  
                <div class="col-lg-12">
                   <div class="d-flex justify-content-end small-align">
                      <nav class="site_navbar">
                         <ul class="site_menu">
                            <li class="nav-item " [routerLinkActive]="['active']">
                               <a [routerLink]="['/home']"  class="nav-link text-left">Home</a>
                            </li>
                            <li class="nav-item" [routerLinkActive]="['active']">
                               <a  [routerLink]="['/user/about-us']"  class="nav-link text-left">About Us</a>
                            </li>
                            <li class="nav-item" [routerLinkActive]="['active']">
                               <a  [routerLink]="['/user/products']"  class="nav-link text-left">Products</a>
                            </li>
                           
                            <li class="nav-item" [routerLinkActive]="['active']" >
                               <a  [routerLink]="['/user/contact-us']" class="nav-link text-left">Contact Us</a>
                            </li>
                            <li class="nav-item" *ngIf="IsLogin" routerLinkActive="active">
                               <a  [routerLink]="['/admin/catelogs']" class="nav-link text-left">Admin</a>
                            </li>
                            <li class="nav-item" *ngIf="!IsLogin"  routerLinkActive="active">
                               <a  [routerLink]="['/auth/login']"   target="_blank"class="nav-link text-left">Login</a>
                            </li>
                         </ul>
                      </nav>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </header> -->
 <!-- Top Menu 1 -->
<!-- Top Menu 1 -->
<section class="ieltsl-top-menu-1">
	<div class="top-hd">
		<div class="container">
	<header class="row top-menu-top">
		<div class="accounts col-md-9 col-6">
				<li class="top_li"><span class="fa fa-phone"></span><a href="tel:+142 5897555">+142 5897555</a> </li>
				<li class="top_li1"><span class="fa fa-envelope-o"></span> <a href="mailto:education-mail@support.com" class="mail"> info@example.com</a>	</li>
		</div>
		<div class="social-top col-md-3 col-6">
			<div class="main-social-head">
				<a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
				<a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
				<a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
			</div>
		</div>
	</header>
</div>
</div>
</section>
<!-- //Top Menu 1 -->
<section class="ieltsl-bootstrap-header">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
    <div class="container">
      <a class="navbar-brand" href="index.html"><span class="">IELTS</span> Forestep</a>
      <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mt-2">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
         
        
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
        <form action="#" class="form-inline position-relative my-2 my-lg-0">
          <input class="form-control search" type="search" placeholder="Search here..." aria-label="Search" required="">
          <button class="btn btn-search position-absolute" type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
        </form>
      </div>
    </div>
  </nav>
</section>