@media screen and (max-width: 560px) {
    .full-width {
        width: 100%;
    }
    .site_navbar {
        overflow: auto;
    }
    .site_menu .nav-item .nav-link {
        white-space: nowrap;
    }
}
@media screen and (max-width: 767px) {
    .small-align {
        justify-content: center !important;
    }.site_logo a img {
        margin: auto;
        max-width: 59%;
    }
 }