$shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
body{
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	color: #404040;
	line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.block-2{
	background-color: #1a1a1a;
}

.btn{
	min-height: 50px;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
}
.form-subscribe{

	.form-control {
		height: 50px;
	}
}
.intro-section.innerpage, .intro-section.innerpage .container .row{
	min-height: 450px;
}
.site{
	&_logo{
		display: inline-flex;
		align-items: center;
		height: 100%;
		a{
			display: inline-block;
			img{
				display: block;
				max-width: 100%;
			}

		}
	}
	&_slider{
		margin-bottom: 50px;
	}
	&_header{
		padding: 10px 15px 0px;
		&_contact{
			.quick-contact-icons {
				display: flex;
				align-items: flex-start;
				.icon {
					font-size: 22px;
					padding-right: 10px;
					i{
						&::before{
							display: block;
							line-height: normal;
						}
					}
				}
				.text{
					.h4{
						font-size: 13px;
						margin-bottom: 5px;
						font-weight: 500;
					}
					.caption-text{
						display: block;
						font-size: 13px;
						font-weight: 400;
						color: #999;
					}
				}
			}
		}
		&_divider{
			margin: 20px -30px 0px 0px;
			min-height: 1px;
			background: linear-gradient(45deg, white 10%, #dfdfdf);
		}
	}
	&_menu{
		display: flex;
		list-style-type: none;
		padding: 0;
		margin-bottom: 0;
		min-height: 50px;
		.nav-item{
			display: inline-flex;
			padding: 0px 20px;
			&.active{
				.nav-link {
					color: #ff5e15;
					border-color: #ff5e15;
				}

			}
			.nav-link {
				display: inline-flex;
				align-items: center;
				line-height: normal;
				font-size: 14px;
				font-weight: 500;
				padding: 0px 5px;
				color: #000;
				border-top: 3px solid transparent;
				-webkit-transition: all .4s ease-in-out;
				-moz-transition: all .4s ease-in-out;
				-ms-transition: all .4s ease-in-out;
				-o-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
				&:hover{
					border-color: #ff5e15;
					color: #ff5e15;
				} 
			}
		}
	}
}
.page {
	&_about {
		padding: 60px 0px;
	}
	&_contact{
		padding: 60px 0px;
	}
}

.sec {
	&_gap {
		padding: 0px 0px 40px;
		&_2{
			padding: 0px 0px;

		}

		&:last-child {
			padding-bottom: 0px;
		}
	}

	&_title {
		padding: 0px 0px 10px;

		h2 {
			color: #000;
			line-height: normal;
		}
		p{
			color: #999;
			margin-bottom: 0;
		}
		&_center{
			text-align: center;
			
		}
		&_2{
			padding: 0px 0px 40px;
		}
		&_white{
			h2{
				color: #fff;
			}
		}
	}

	&_content {
		.content {
			p {
				font-size: 16px;

				b {
					font-weight: 600;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			.list_heading {
				font-weight: 700;
				color: #000;
				margin-bottom: 0;
			}

			ul {
				list-style-type: none;
				padding: 0;
				margin-bottom: 0;

				li {
					font-size: 16px;
				}
			}
		}
	}
	.choose_image{
		height: 100%;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.why_choose{
		padding: 90px 0px 90px 0px;
		.content_text{

			p{
				color: rgba(255,255,255,0.65);
				line-height: 26px;
				font-size: 16px;
			}
			ul{
				list-style-type: none;
				margin: 30px 0 0px;
				padding: 0;
				li{
					font-size: 16px;
					margin-bottom: 15px;
					color: rgba(255,255,255,0.65);
					padding-left: 20px;
					position: relative;
					&::before{
						content: '';
						width: 8px;
						height: 8px;
						border-radius: 0%;
						background-color: #ff5e15;
						position: absolute;
						top: 5px;
						left: 0;
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
					}
				}
			}
		}
	}
	.projects-carousel-wrap{
		margin-bottom: 0;
		.project-item .project-item-contents .project-item-title{
			font-size: 30px;
		}
	}
	&.testimonial-wrap{
		.testimonial{
			padding: 40px;
			border: 3px solid #efefef;
			text-align: center;
			margin-top: 40px;
			img{
				width: 75px;
				height: 75px;
				margin-top: -100px;
			}
			blockquote{
				p{
					font-size: 18px;
					font-weight: 500;
				}

			}
			.client-name{
				font-family: 'Barlow', sans-serif;
				text-transform: unset;
				font-weight: 500;
			}
		}
	}
	.blog-entry .img-link{
		margin-bottom: 20px;
	}
	.blog-entry .blog-entry-contents h3{
		margin-bottom: 20px;

	}
	.blog-entry .blog-entry-contents h3 a{
		font-size: 18px;
		line-height: 20px;
		font-weight: 600;

		&:hover{
			color: #ff5e15
		}
	}
	.quote-form-wrap{
		padding-left: 225px;
		position: relative;
		.image_block{
			height: 100%;
			position: absolute;
			top: 0;
			left: -150px;
			width: auto;
			img{
				max-width: unset;
				height: 100%;
				position: absolute;
				
			}
		}
	}
}

.box {
	padding: 15px 30px;
	border: 1px solid #dedede;
	margin-top: -1px;

	&_tr {
		border-radius: 5px 5px 0px 0px;
	}

	&_br {
		border-radius: 0px 0px 5px 5px;
	}

	&_head {
		h2 {
			color: #000;
		}
	}

	&_content_title {
		font-size: 18px;
		font-weight: 700;
		color: #000;
		margin-bottom: 15px;
	}

	&_content {
		table {
			width: 100%;

			tbody {
				tr {
					td {
						padding: 0px 15px 10px 0px;
						font-size: 16px;
						color: #000;

						&:first-child {
							width: 35%;
							color: #808080;
						}

						ul {
							list-style-type: none;
							padding: 0;
							margin-bottom: 0;

							li {}
						}
					}
				}
			}
		}
	}
}
.map{
	&_icon{
		span{
			font-size: 52px;
		}
	}
	&_box{
		border: 5px solid #efefee;
		padding: 20px 20px 20px 20px;
		h3{
			font-size: 22px;
		}


		.map{
			iframe{
				width: 100%;
				min-height: 540px;
			}
		}
		.underline{
			height: 3px;
			width: 140px;
			background-color: #e77830;
			margin: 20px auto 35px;
		}
	}

	&_form{

		.form{
			&-group{
				margin-bottom: 20px;
				input[type="color"],
				input[type="date"],
				input[type="datetime-local"],
				input[type="email"],
				input[type="file"],
				input[type="image"],
				input[type="month"],
				input[type="number"],
				input[type="password"],
				input[type="search"],
				input[type="tel"],
				input[type="text"],
				input[type="time"],
				input[type="url"],
				input[type="week"],
				textarea,
				select{
					display: block;
					width: 100%;
					margin: 0px 0 0;
					padding: 15px;
					border: 1px solid #eee;
					border-radius: 0;
					outline: 0;
					resize: none;
					font-size: 13px;
					line-height: 17px;
					background-color: #eeeeee;
					color: #818181;
					font-family: Raleway;
					font-weight: 400;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					-webkit-appearance: none;
					-webkit-transition: all .4s ease;
					-moz-transition: all .4s ease;
					-ms-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;

					&::-webkit-input-placeholder,
					&::-moz-input-placeholder,
					&::-ms-input-placeholder,
					&::-o-input-placeholder{
						color: #999;
					}
					&:focus{
						border-color: #e77830;

					}
					&:disabled{
						background-color: #F7F7F7;
						border-color: #E0E0E0;
					}
				}
			}

		}
		input[type="submit"]{
			min-width: 143px;
			width: auto;
			min-height: 50px;
			margin-top: 35px;
		}
	}
}
.services-1-wrap{
	.service-1{
		height: 100%;
		padding: 30px;
		border:2px solid #efefef !important;
		border-right: 2px solid #efefef !important;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
		box-shadow: 0px 0px 0px #fff4ef;
		&:hover{
			border-color: #ff5e15 !important;
			-webkit-transform: translateY(-15px);
			-moz-transform: translateY(-15px);
			-ms-transform: translateY(-15px);
			-o-transform: translateY(-15px);
			transform: translateY(-15px);
			box-shadow: 0px 10px 40px #fff4ef;
		}
		.service-1-icon{
			margin-bottom: 15px;
			z-index: 1;
			&::before{
				border: none;
				width: 60px;
				height: 60px;
				background: #ff5e15;
				border-radius: 50%;
				left: -15px;
				top: 15px;
				opacity: .4;
			}
		}
		.service-1-content {

			.service-heading{
				font-size: 22px;
				font-weight: 700;
				margin-bottom: 10px;
				font-family: 'Barlow', sans-serif;
			}
			p{
				font-size: 15px;
				line-height: 22px;
				font-weight: 400;
				color: #808080;
			}
		}
	}
}
.login_page{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow-y: auto;
	height: 100vh;
	background: linear-gradient(#ff5e15, #00add485);
	.login_wrapper{
		max-width: 620px;
		width: 100%;
		padding: 60px;
		background-color: #fff;
		box-shadow: 0px 15px 60px rgba(0,0,0,0.35);
		.form-group{
			label{
				font-weight: 500;
				font-size: 15px;
				color: #000;
				margin-bottom: 8px;
			}
			input[type="color"],
			input[type="date"],
			input[type="datetime-local"],
			input[type="email"],
			input[type="file"],
			input[type="image"],
			input[type="month"],
			input[type="number"],
			input[type="password"],
			input[type="search"],
			input[type="tel"],
			input[type="text"],
			input[type="time"],
			input[type="url"],
			input[type="week"],
			textarea,
			select{
				font-size: 14px;
				font-weight:500 ;
				color: #000;

				&::-webkit-input-placeholder,
				&::-moz-input-placeholder,
				&::-ms-input-placeholder,
				&::-o-input-placeholder{
					color: #fff !important;
				}
				&:focus{
					border-color: #ff5e15;
					box-shadow:0px 8px 15px rgba(247, 222, 3, 0.05); 

				}
				&:disabled{
					background-color: #F7F7F7;
					border-color: #E0E0E0;
				}
			}

			
		}
		input[type="submit"]{
			min-width: 150px;
			min-height: 44px;
		}

	}
	.form_logo{
		margin: 0 0 0 0px;
		img{
			width: 220px;
		}
	}
}

.footer{
	background-color: #1a1a1a;

}
/* admin css*/
@media screen and (max-width: 767px){
	.site_sidebar#sidebar-wrapper {
		left: auto;
	}
}

.site_sidebar{
	width: 220px;
	height: 100vh;
	padding-top: 60px;
	position: fixed;
	left: 0;
	top: 0px;
	z-index: 1;
	background-color: #f2f2f2;

	.sidebar-heading{
		text-align: center;
		padding: 10px 15px;
		border-bottom: 1px solid #e2e2e2;
		img{
			width: 75px;
		}
	}
	.list-group {
		width: 100% !important;
		padding-top: 30px;
		overflow-y: auto; 
		.list-group-item {
			background-color: transparent !important;
			border: none;
			margin-bottom: 0;
			padding: 8px 30px;
			margin-bottom: 10px;
			font-size: 15px;
			font-weight: 500;
			color: #1a1a1a;
			&:hover,
			&.active{
				color: #ff5e15;
			}
		}
	}
}
.site_admin_navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	left: 0px;
	height: 60px;
	background-color: #fff !important;
	border-bottom: 1px solid #f6f6f6 !important;
	padding: 0;
	z-index: 2;
	box-shadow: $shadow;
	.logo_box{
		max-width: 220px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			margin-left: 10px;
		}
		img{
			max-height: 50px;
		}
	}
	.header_menu{
		list-style-type: none;
		padding: 0;
		margin-bottom: 0;
		padding-right: 20px;
		li{
			a{
				font-size: 15px;
				font-weight: 500;
				display: inline-flex;
				align-items: center;
				color: #1a1a1a;

				&:hover{
					color: #ff5e15;
				}
			}
		}
	}
}
#wrapper {
	overflow-x: auto;
	width: 100%;
	min-height: 100vh;
	padding-top: 60px;
	padding-left: 220px;
	background-color: #fff;
}
#page-content-wrapper{
	padding: 30px;
}
.page_head{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 25px;
	.title{
		h2{
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 0;
			color: #1a1a1a;
		}
	}
	.btn_group{
		.btn{
			min-height: 38px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			min-width: 88px;
			font-size: 14px;
			padding: 0px  25px;
			letter-spacing: normal;
			font-weight: 600;
			text-transform: unset;
			margin-bottom: 0 !important;
		}
	}

}
.table_card{
	max-height: calc(100vh - 200px);
	overflow: auto;
	background: #fff;
	box-shadow: $shadow;

	.table{
		background: #fff;
		width: auto;
		min-width: 100%;
		margin-bottom: 0;
	}
	.table thead th{
		background-color: #f2f2f4;
		border-bottom: 1px solid #e0e0e0;
		border-top: none;
		font-size: 14px;
		color: #292e40!important;
		white-space: nowrap;

	}
	.table tbody tr:nth-child(2n){
		background-color: #f5f5f5 !important;
	}
	.table tbody tr td{
		font-weight: 500;
		font-size: 14px;
		vertical-align: middle;
		border: none;
		a{
			&.icon_btn{
				width: 26px;
				height: 26px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin: 0px 8px;
				color: #1a1a1a;
				&_auto{
					width: auto;
				}
				&.delete{
					&:hover{
						color: #ff0000;
					}
				}
				&.edit{
					&:hover{
						color: #ff5e15;
					}
				}
				
			}
		}
		i{
			&.material-icons{
				font-size: 22px;
			}
		}
	}
}
.form_wrapper{
	.form-group{
		label{
			font-weight: 500;
			font-size: 15px;
			color: #000;
			margin-bottom: 8px;
			display: block;
		}
		input[type="color"],
		input[type="date"],
		input[type="datetime-local"],
		input[type="email"],
		input[type="file"],
		input[type="image"],
		input[type="month"],
		input[type="number"],
		input[type="password"],
		input[type="search"],
		input[type="tel"],
		input[type="text"],
		input[type="time"],
		input[type="url"],
		input[type="week"],
		textarea,
		select{
			font-size: 14px;
			font-weight:500 ;
			color: #000;

			&::-webkit-input-placeholder,
			&::-moz-input-placeholder,
			&::-ms-input-placeholder,
			&::-o-input-placeholder{
				color: #fff !important;
			}
			&:focus{
				border-color: #ff5e15;
				box-shadow:0px 8px 15px rgba(247, 222, 3, 0.05); 

			}
			&:disabled{
				background-color: #F7F7F7;
				border-color: #E0E0E0;
			}
		}
		.btn{
			min-width: 150px;
			min-height: 40px;
			letter-spacing: 0;
			font-weight: 500;
			text-transform: unset;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

	}
}
.action_btn{
	display: flex;
	justify-content: center;
	align-items: center;
	input[type="submit"]{
		min-width: 150px;
		min-height: 44px;
		letter-spacing: 0;
		font-weight: 500;
		text-transform: unset;
	}
}
.modal-footer{
	.btn{
		min-width: 120px;
		min-height: 38px;
		letter-spacing: 0;
		font-weight: 500;
		text-transform: unset;
		padding: 0.375rem 20px;
	}
}
button{
	outline-color: none !important;
}
