<div class="wrapper">
	<app-admin-side-menu></app-admin-side-menu>

	<div class="content">
		<div class="content_wrapper">
			<app-admin-header></app-admin-header>
			<router-outlet></router-outlet>
		</div>
	</div>


</div>