section.admin-area {
  background: #e5e5e5;
  padding-left: 320px;
  float: left;
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.page-wraper {
  background: #fff;
  float: left;
  width: 100%;
  margin-top: 20px;
  .admin-header {
    background: #fbbb00;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .drop-option {
      width: 35px;
      height: 35px;
      background: #fff;
      text-align: center;
      line-height: 35px;
      border-radius: 100%;
      color: #747171;
      font-size: 23px;
      cursor: pointer;
      position: relative;
      i {
        display: block;
        line-height: 36px;
      }
    }
  }
}


.adminheader {
  position: fixed;
  padding: 0% 0% 0% 70%;
}