 <!-- /breadcrumb -->
 <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">About Us</li>
</ol>
<!-- //breadcrumb -->
<section class="banner-bottom py-5">
    <div class="container py-md-5">
        <div class="row banner-grids mb-lg-5">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 content-left animated zoomIn">
                        <img src="assets/images/ab.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 content-left animated zoomIn">
                        <img src="assets/images/ab1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 content-right animated fadeInRight">
                <div class="content_wrapper">

                    <h5 class="mt-1">Trut Us</h5>
                    <h4>We will help to find health, to everyone.</h4>
                    <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum libero. </p>
                    <ul class="tic-info list-unstyled">
                        <li>

                            <span class="fa fa-hand-o-right"></span> Integer sit amet mattis quam

                        </li>
                        <li>

                            <span class="fa fa-hand-o-right"></span> Praesent ullamcorper dui turpis

                        </li>
                        <li>

                            <span class="fa fa-hand-o-right"></span> Integer sit amet mattis quam

                        </li>

                    </ul>
                </div>


            </div>

        </div>
       <div class="row mt-lg-5 mt-4 pt-5 text-center" id="stats">

            <div class="col-lg-4 counter editContent mt-3 animated zoomIn">
                <span class="fa fa-users"></span>
                <div class="counter-info">
                    <h4>7200+</h4>
                    <p>Healthy and happy customers</p>

                </div>
            </div>
            <div class="col-lg-4 counter two editContent mt-3 animated zoomIn">
                <span class="fa fa-user-md"></span>
                <div class="counter-info">
                    <h4>150+</h4>
                    <p>Professional medical specialist</p>

                </div>
            </div>
            <div class="col-lg-4 counter editContent mt-3 animated zoomIn">
                <span class="fa fa-diamond"></span>
                <div class="counter-info">
                    <h4>15+</h4>
                    <p>Years of impeccable and successful work</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /last-content -->
<section class="last-content spacing_gap">
    <div class="">
        <div class="container text-center">
            <div class="last-w3pvt-inner-content row">

                <div class="col-md-6 offset-md-6 animated fadeInUp">

                    <form action="#" class="booking" method="post">
                        <h3 class="mb-4">Book Appointment</h3>
                        <div class="form-group">
                            <input placeholder="Your Name" name="name" type="text" required="">
                            <input placeholder="Contact Number" name="number" type="text" required="">
                            <input placeholder="Address" type="text" required="">
                            <input placeholder="Timing" type="text" required="">
                            <button class="book-appo btn mt-3">Quick Appointment </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //last-content -->
<!--/banner-bottom -->
<section class="banner-bottom py-5 site_no_border">
    <div class="container-fluid inner-sec-w3ls">
        <div class="feature-grids row text-center">
            <div class="col-lg-3 gd-bottom one animated zoomIn">
                <div class="bottom-gd">
                    <span class="fa fa-wheelchair" aria-hidden="true"></span>
                    <h3 class="mb-2">Modern Equipment</h3>
                    <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue .</p>
                </div>
            </div>
            <div class="col-lg-3 gd-bottom animated zoomIn">
                <div class="bottom-gd">
                    <span class="fa fa-user-md" aria-hidden="true"></span>
                    <h3 class="mb-2">
                        Famous Doctors</h3>
                    <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue .</p>

                </div>
            </div>
            <div class="col-lg-3 gd-bottom animated zoomIn">
                <div class="bottom-gd">
                    <span class="fa fa-life-ring" aria-hidden="true"></span>
                    <h3 class="mb-2">Health Monitoring</h3>
                    <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue .</p>
                </div>
            </div>
            <div class="col-lg-3 gd-bottom animated zoomIn">
                <div class="bottom-gd">
                    <span class="fa fa-folder-open-o" aria-hidden="true"></span>
                    <h3 class="mb-2">Booking a Visit</h3>
                    <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue .</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner-bottom -->

<!-- /tabs -->
<section class="tabs-blue py-5">
    <div class="container pt-md-5">
        <div class="header-w3layouts text-center mb-5">
            <h3 class="title-w3pvt mb-3">Our Services</h3>

        </div>
        <div class="tab-main mx-auto">

            <input id="tab1" type="radio" name="tabs" class="w3layouts-sm" checked>
            <label for="tab1">Cardiology</label>

            <input id="tab2" type="radio" class="w3layouts-sm" name="tabs">
            <label for="tab2">Surgery</label>

            <input id="tab3" type="radio" class="w3layouts-sm" name="tabs">
            <label for="tab3">Laboratory</label>
            <input id="tab4" type="radio" class="w3layouts-sm" name="tabs">
            <label for="tab4">Therapist</label>
            <section id="content1" class="inner-w3layouts-wrap">

                <div class="row part-grids text-center inner-sec-w3ls">

                    <div class="col-md-6 partgrid2 animated zoomIn">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="img-fluid" src="assets/images/g1.jpg" alt="">
                            </div>
                            <div class="caption card-body p-md-4">
                                <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 partgrid1 animated zoomIn">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="img-fluid" src="assets/images/g2.jpg" alt="">
                            </div>
                            <div class="caption card-body p-md-4">
                                <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section id="content2" class="inner-w3layouts-wrap">
                <div class="row part-grids text-center">

                    <div class="col-md-6 partgrid2 animated zoomIn">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="img-fluid" src="assets/images/g3.jpg" alt="">
                            </div>
                            <div class="caption card-body p-md-4">
                                <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 partgrid1 animated zoomIn">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="img-fluid" src="assets/images/g2.jpg" alt="">
                            </div>
                            <div class="caption card-body p-md-4">
                                <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section id="content3" class="inner-w3layouts-wrap">
                <div class="row part-grids text-center">

                    <div class="col-md-6 partgrid2 animated zoomIn">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="img-fluid" src="assets/images/g6.jpg" alt="">
                            </div>
                            <div class="caption card-body p-md-4">
                                <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 partgrid1 animated zoomIn">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="img-fluid" src="assets/images/g7.jpg" alt="">
                            </div>
                            <div class="caption card-body p-md-4">
                                <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section id="content4" class="inner-w3layouts-wrap">
                <div class="row part-grids text-center">

                    <div class="col-md-6 partgrid2 animated zoomIn">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="img-fluid" src="assets/images/g5.jpg" alt="">
                            </div>
                            <div class="caption card-body p-md-4">
                                <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 partgrid1 animated zoomIn">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="img-fluid" src="assets/images/g4.jpg" alt="">
                            </div>
                            <div class="caption card-body p-md-4">
                                <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </div>

    </div>
</section>
<!-- //tabs -->
<!-- //last-content -->
<section class="lab-test py-5 site_pb_0" id="lab">
    <div class="container">
        <div class="row banner-grids">
            <div class="col-lg-6 content-right pt-md-4 animated fadeInLeft">
                <div class="content_wrapper">

                    <h5 class="mt-1">Trut Us</h5>
                    <h4>Excellence Is Our Speciality</h4>
                    <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.Sed porttitor orci vel fermentum elit maximus.Integer sit amet mattis quam, sit amet ultricies velit. Nam libero tempore Curabitur ut turpis massa in condimentum libero. </p>
                    <ul class="tic-info list-unstyled pink">
                        <li>

                            <span class="fa fa-hand-o-right"></span> Integer sit amet mattis quam

                        </li>
                        <li>

                            <span class="fa fa-hand-o-right"></span> Praesent ullamcorper dui turpis

                        </li>
                        <li>

                            <span class="fa fa-hand-o-right"></span> Integer sit amet mattis quam

                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 content-left animated fadeInRight">
                <img src="assets/images/lab.png" alt="" class="img-fluid">
            </div>

        </div>
    </div>
</section>
<!-- /tabs -->
<!-- /grids-content1 -->
<section class="testimonials py-5" id="test">
    <div class="container py-lg-3">
        <div class="header-w3layouts text-center mb-5">
            <h3 class="title-w3pvt two mb-3"> Client Reviews </h3>

        </div>
        <div class="test-content">
            <div class="testimonials_grid">

                <span class="fa fa-quote-left" aria-hidden="true"></span>
                <p class="sub-test editContent">Integer sit amet mattis quam, sit amet ultricies velit. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus.
                </p>
                <div class="testi_grid">
                    <img src="assets/images/c1.jpg" alt=" " class="img-fluid">
                    <h5>Thomas Carl</h5>
                    <label>Description </label>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //grids-content1 -->