.browse_testType {
    padding-bottom: 70px;
    text-align: center;
    position: relative;
    margin: 120px 3px 3px 2px;
}
.browse_testType .flex_div {
    justify-content: center;
}
.flex_div {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.browse_category_list {
    flex-basis: 23.3%;
    margin-right: 20px;
    padding: 15px 0;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 34px rgb(0 0 0 / 7%);
    position: relative;
    z-index: 1;
}