<!-- <div class="browse_testType">
    <h2>Browse by Test types</h2>
    <div class="flex_div">
    <a routerLink="/user/categories"  [queryParams]="{Id: 1}" class="browse_category_list">
    <img src="https://ieltsmaterial.com/wp-content/themes/ieltsmaterial/assets/images/ielts-001.png" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://ieltsmaterial.com/wp-content/themes/ieltsmaterial/assets/images/ielts-001.png
    "></noscript>
    <p class="zero_margin">Academic</p>
    </a>
    <a routerLink='/user/categories'  [queryParams]="{Id: 2}" class="browse_category_list">
    <img src="https://ieltsmaterial.com/wp-content/themes/ieltsmaterial/assets/images/ielts-002.png" class="lazyloaded" data-ll-status="loaded"><noscript><img src="https://ieltsmaterial.com/wp-content/themes/ieltsmaterial/assets/images/ielts-002.png
    "></noscript>
    <p class="zero_margin">General Training</p>
    </a>
    </div>
    </div> -->

    <section class="ieltsl-main-slider" style="margin-top: 8em;" id="home">
       
      </section>
      <section class="ieltsl-feature-3" id="">
          <div class="grid top-bottom mb-lg-5 pb-lg-5">
              <div class="container">
                  
                  <div class="middle-section  text-center">
                      <div class="three-grids-columns">
                          <span></span>
                         <a routerLink='/user/academic'  class="none" ><h3>Academic IELTS</h3></a> 
                          <p></p>
                          <a href="#" class="red mt-3"> </a>
                      </div>
                      <div class="three-grids-columns">
                          <span></span>
                          <a routerLink='/user/general' class="none" ><h3>General IELTS</h3></a> 
                          <p></p>
                          <a href="#" class="red mt-3"> </a>
                      </div>
                   
                  </div>
              </div>
          </div>
      </section>