    

    <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
           
            <div class="col-5">
                <label>User Name</label>
                <input type="text" formControlName="username" />
              
            </div>

            <div class="form-group col-5">
                <label>password</label>
                <input type="text" formControlName="password" />
                
            </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
    </form> -->


    <div class="wrapper">
      <img src="assets/images/banner3.jpg" alt="" class="background_overlay">
        <div class="fadeInDown" id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="assets/images/logo_black.svg" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="text" id="login"  formControlName="username" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" formControlName="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth login_btn" value="Log In">
          </form>
      
      
        </div>
      </div>