<div class="login_page">
   <div class="login_wrapper">
      <h1 class="text-center mb-3 form_logo" >
         <a routerLink="">
            <!-- <img src="../../../../assets/images/firestone.png" id="icon" alt="User Icon" /> -->
         </a>
      </h1>
      
      <form [formGroup]="_fireloginForm" (ngSubmit)="onSubmit()">
         <div class="form-group">
            <label for="fname">Student Code</label>
            <input type="text" id="EmployeeCode" formControlName="EmployeeCode" class=" form-control form-control-lg fadeIn second" name="login" placeholder="GS2563">
         </div>
         <div class="form-group">
            <div class="loginloader"></div>
            <label for="lname">Password</label>
            <input type="password" id="PassKey" formControlName="PassKey" class="fadeIn third form-control form-control-lg" name="login" placeholder="Enter Password">
         </div>
         <!-- <h1 class="text-center mb-3 form_logo" *ngIf="_loader">
            <a routerLink="">
               <img src="../../../../assets/images/loader.gif" id="icon" alt="User Icon" />
            </a>
         </h1> -->
         <div class="text-center" >
            <input type="submit" class="btn btn-primary" value="Login">
         </div>
      </form>
     
   </div>
</div>
