<div class="main-w3layouts-header-sec">
	<div class="overlay inner">
		<app-user-header></app-user-header>
	</div>
</div>
<section class="container">
	<router-outlet></router-outlet>
</section>
<app-user-footer></app-user-footer>
