<div class="brose_category">
    <h2>Browse by Category</h2>
    <div class="flex_div">
    <a routerLink='/user/reading'  [queryParams]="{Id: 2}" class="browse_category_list browse_by_reading">
    <i class="icon_sprite reading_icon"></i>
    <p class="zer0_margin">Reading</p>
    </a>
    <a routerLink='/user/speaking'  [queryParams]="{Id: 2}" class="browse_category_list browse_by_speaking">
    <i class="icon_sprite speaking_icon"></i>
    <p class="zer0_margin">Speaking</p>
    </a>
    <a routerLink='/user/listening'  [queryParams]="{Id: 2}" class="browse_category_list browse_by_listening">
    <i class="icon_sprite listening_icon"></i>
    <p class="zer0_margin">Listening</p>
    </a>
    <a routerLink='/user/writing'  [queryParams]="{Id: 2}" class="browse_category_list browse_by_writing">
    <i class="icon_sprite writting_icon"></i>
    <p class="zer0_margin">Writing</p>
    </a>
    </div>
    </div>