.brose_category {
    position: relative;
    text-align: center;
    padding: 70px 0;
}
.reading_icon {
    background-position: -17px -26px;
    width: 100px;
    height: 106px;
}
.browse_category_list p {
    margin: 0;
    padding-top: 5px;
}
.browse_category_list {
    flex-basis: 23.3%;
    margin-right: 20px;
    padding: 15px 0;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 34px rgb(0 0 0 / 7%);
    position: relative;
    z-index: 1;
}
.browse_category_list {
    color: #06203d;
    font-size: 22px;
    text-decoration: none;
    font-weight: 500;
}
.browse_category_list:nth-of-type(4n+0) {
    margin-right: 0;
}