<header class="admin_header">
   <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
         <a class="navbar-brand" href="#">
            <img src="assets/images/logo_black.svg" alt="">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse navadmin" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active">
               <a class="nav-link" routerLink="profile">Dashboard <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
               <a class="nav-link" routerLink="videos">Videos <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="reviews">Reviews<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="subscribers">Subscriber<span class="sr-only"></span></a>
            </li>
            <li class="nav-item" *ngIf="IsAdminlogin">
               <a class="nav-link" routerLink="">Login<span class="sr-only"></span></a>
            </li>
            <li class="nav-item" *ngIf="!IsAdminlogin">
               <a class="nav-link logout" (click)="LogoutAdmin()">Logout<span class="sr-only"></span></a>
            </li>
         </ul>
         <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </form> -->
        </div>
     </nav>
  </div>
</header>


